Port 22
Protocol 2
UsePAM yes
PermitRootLogin yes
PasswordAuthentication yes

Match Group fileshare
    Subsystem sftp internal-sftp
    ChrootDirectory /srv
    ForceCommand internal-sftp
    AllowTcpForwarding no
    X11Forwarding no

