Port 22
Protocol 2
UsePAM yes
PermitRootLogin no
PasswordAuthentication yes
Subsystem sftp internal-sftp

Match Group fileshare
    ChrootDirectory /srv
    ForceCommand internal-sftp
    AllowTcpForwarding no
    X11Forwarding no

